<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceBank" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/serviceBank" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceBank" contract="ServiceBankReference.IServiceBank"
                name="BasicHttpBinding_IServiceBank" />
    </client>
  </system.serviceModel>
</configuration>